.datepicker-date-display {
    background-color: rgb(20, 117, 207);
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color:rgb(214, 169, 21)
}

button.datepicker-day-button {
    background-color: rgb(255, 255, 255);
}

.timepicker-digital-display {
    background-color: rgb(20, 117, 207);
}

.timepicker-dial, .timepicker-hours, .timepicker-dial-out{
    color: palevioletred
}